:root {
  --red: #ff7a7a;
  --green: #38cc8c;
  --blue: #6055a5;
  --dark-blue: #3e3c49;
  --grayish-blue: #b9b6d3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--red);
  background-image: url("/images/bg-intro-desktop.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  gap: 10px;
}

.heading-box {
  width: 50%;
  color: white;
}

.heading-box h1 {
  font-size: 57px;
  line-height: 1.3;
  margin-bottom: 40px;
  max-width: 90%;
}

.heading-box p {
  font-size: 18px;
  font-weight: 500;
  max-width: 95%;
  line-height: 1.6;
}

form {
  width: 50%;
}

form .offer {
  background-color: var(--blue);
  color: white;
  font-weight: 600;
  padding: 24px 0;
  border-radius: 12px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 36px;
}

form .offer span {
  color: var(--grayish-blue);
  font-weight: 500;
}

form .inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  background-color: white;
  padding: 48px;
}

.inputs input {
  width: 100%;
  border: 2px solid var(--grayish-blue);
  outline: none;
  caret-color: var(--blue);
  padding: 26px 36px;
  border-radius: 10px;
  color: var(--blue);
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 30px;
}

.inputs input::placeholder {
  font-size: 18px;
}

.inputs input:focus {
  border-color: #6055a5;
}

.inputs button {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--green);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.9px;
  border-radius: 10px;
  transition: .3s;
  font-size: 18px;
  padding: 24px 0;
  box-shadow: 0 5px 0 0px #219865;
  margin-bottom: 20px;
}

.inputs button:hover {
  background-color: rgba(56, 204, 140, 0.7);
}

.text {
  color: var(--grayish-blue);
  font-weight: 500;
}

.text span {
  color: var(--red);
  font-weight: 600;
}